.btn{
  position: fixed; 
  right: 3rem; 
  top: 80px;
  cursor: pointer;
  background: #FF7A59;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}
.btn p{
    width: 100%;
}
.modal {
  display: block;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.76);
  overflow-y: scroll;
  z-index: 2;
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  text-align: left;
  width: 75%;  
  height:max-content;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  user-select: none; 
}
.close-btn {
  float: right; 
  color: rgb(146, 133, 133); 
  font-size: 24px;  
  font-weight: bold;
  cursor: pointer;
}
.close-btn:hover {
  color: rgb(0, 0, 0);
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media (max-width: 600px) {
  .btn{
    right: 2rem; 
  }

 }