.centre{
  max-width: 100%;
  padding-top: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Merriweather', serif;
}
.content{
  position: absolute;
  top: 100%;
}
.grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: #ffffff;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  gap:1px;
}
.cell{
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 2em;
  user-select: none;
  perspective: 1000px;
  background-color: black;
  text-align: center;
  margin-top: 1px;
}
.front{
  background-color: black;
}

.flip {
  transform: rotateY(180deg);
}

.empty{
  background-color: rgba(36, 35, 35, 0.904);
}

.correct{
  background-color: green;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.partial{
  background-color: yellow;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.wrong{
  background-color: grey;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

@media (max-width: 600px) {
  .cell{
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1.5em;
  }

 }
