.centre {
  width: 100%;
  height: auto;
  padding-top: 60px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  user-select: none;
}

.content {
  position: absolute;
  top: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 314px;
  margin: 10px auto;
  background-color: #080808;
  border-color: #000000;
  border: 5px solid rgb(223, 30, 30);
  color: #000000;
  gap: 2px
}

.cell {
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-color: #ffffff;
  line-height: 92px;
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}

.won {
  background-color: green;
  color: #ffffff;
}

.status {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  position: absolute;
  top: 65px;
  left: 20px;
  background-color: #ffffff;
  border: 1px solid rgb(12, 12, 12);
  width: 100px;
}

.status span {
  font-size: larger;
  padding: 0.3em;
  width: 50%;
}

.status p {
  width: 100%;
}

.active {
  border: 1px solid rgb(248, 7, 7);
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 0; } /* more concise! */
  50% { opacity: 1; }
}

@media (max-width: 600px) {
  .grid {
    width: 60px;
    margin: 10px auto;
    gap: 2px
  }
  
  .cell {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 1em;
  }

}